$color-primario: #e85d28;
$color-secundario: #403d39;
$color-light: #f5f5f5;
$color-dark: #252422;
$color-blanco: #ffffff;
$verde: #d1ffd3;
$naranja: #f8dec9;
$rojo: #ffcaca;


$font-main: 'Arial', sans-serif;

$border-radius: 10px;
$shadow: 0 4px 10px rgba(0,0,0,0.1);

$spacing: 1em;
$gap-cards: 1em;
$card-width: 200px;